<form [formGroup]="globalFormGroup" id="form">

  <mat-horizontal-stepper [linear]="false" #stepper labelPosition="bottom">

    <mat-step *ngFor="let panel of panelList ;let i = index" label="{{panel.label}}"
              [stepControl]="globalFormGroup.controls[panel.label]" errorMessage="Missing Mandatory Fields">
      <dynamic-form [panel]="panel" [stepper]="stepper"
                    [selectedFormGroup]="globalFormGroup.controls[panel.label]" ></dynamic-form>
    </mat-step>
  </mat-horizontal-stepper>
  <div class="margin-top">
    <button type="submit" mat-raised-button color="primary" (click)="onSubmit($event)">save</button>&nbsp;&nbsp;&nbsp;
    <!-- <button type="reset" mat-raised-button color="primary" (click)="this.globalFormGroup.reset()">reset</button>&nbsp;&nbsp;&nbsp;-->
    <button type="button" mat-raised-button color="primary" (click)="next()">next</button>&nbsp;&nbsp;&nbsp;
  </div>
</form>
