/* You can add global styles to this file, and also import other style files */
.spacer {
  margin-top: 20px; /* define margin as you see fit */
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-stepper-horizontal {
  margin-top: 8px;
}

/*.mat-form-field {
  margin-top: 16px;
}*/
.field-full-width {
  width: 100%;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #007bff !important;
}

.mat-form-field-infix {
  padding: .5em 0 1em 0 !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: lightskyblue;
  border-width: 10px !important;
}

/*.mat-horizontal-stepper-header{
  pointer-events: none !important;
}*/

h5 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.row-bottom-margin { margin-bottom:1px; }

.mat-step-icon-selected, .mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary
{
  background-color: #007bff !important;
}

/** 18-AUG-2020 **/
mat-datepicker-toggle {
  color:  #007bff !important;
}

.mat-datepicker-content {
  color:  #007bff !important;
}
.mat-calendar-table{
  border-color: #007bff;

}
.mat-calendar-body-today{
  color: #007bff;
}
.mat-calendar-body-label{
  color: #007bff !important;
}
button:focus {
  outline: none;
}



