/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}
.container {
  background-color: #F8F8F8;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}
.spacer {
  margin-top: 20px; /* define margin as you see fit */
}
.row {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 7px;

}
